set timeout=-1
set default=0
set color_normal=white/blue
set color_highlight=black/blue

menuentry "nnos" {
	multiboot /kernel.bin
	boot
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
	halt
}